<footer class="site-footer">

  <div class="wrapper">

    <!-- <h2 class="footer-heading">{{ site.title }}</h2> -->

    <div class="footer-col-wrapper">
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>Müller Computer Engineering</li>
          <li>stephan<span class="nospam">@</span>heap.ch</li>
        </ul>
      </div>

      <div class="footer-col footer-col-2">
        <!-- <ul class="social-media-list">
          {% if site.github_username %}
          <li>
            {% include icon-github.html username=site.github_username %}
          </li>
          {% endif %}

          {% if site.twitter_username %}
          <li>
            {% include icon-twitter.html username=site.twitter_username %}
          </li>
          {% endif %}
        </ul> -->
      </div>

      <div class="footer-col footer-col-3">
        {% capture bio %}{% include bio.md %}{% endcapture %}
        {{ bio | markdownify }}
      </div>
    </div>

  </div>

</footer>
